
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-color: #212121;
            color: #e0e0e0;
            font-family: 'Lobster Two', cursive;
        }
        .contenedor {
            width: 90%;
            margin: 30px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
        .testimonio {
            flex: 1 1 calc(33.333% - 20px);
            background-color: #7d96e9;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .testimonio h2 {
            font-size: 2rem;
            margin-bottom: 10px;
        }
        .testimonio p {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
        h1 {
            font-size: 3rem;
            margin: 50px 0 20px;
            
        }
        hr {
            margin: 10px auto;
            width: 80%;
            border: 1px solid #e0e0e0;
        }
